<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Windows App Service: logs in D:\home\LogFiles\stdout (Kudu). -->
      <aspNetCore processPath=".\MySociety.Api.exe"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogMaxSizeInMB="50"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout\stdout"
                  hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
